body {
	background-color:#36454F;
}
P {
	color:#EBCDC0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:  #EBCDC0;
}
li {
	color:DodgerBlue;
}
